<div class="container">
  <div class="row my-4">
    <h4 class="col-2 bg-light text-center">報告の詳細</h4>
  </div>
  
  <p class="text-success"><%= notice %></p>   
  
  <span class="mr-3"><%= @item.created_at.strftime("%Y/%m/%d %H:%M") %>作成</span>
  <% if @item.created_at != @item.updated_at %>
  <span class="mr-3"><%= @item.updated_at.strftime("%Y/%m/%d %H:%M") %>更新</span>
  <% end %>
  
  <span class="checks_buttons_<%= @item.id %>">
    <%= render 'users/checks/check', item: @item %>
  </span>

  <div class="row mb-5">
    <div class="col-12 ">
      <table class="table table-bordered">
 
        <tr>
          <th class="text-center">取引先名</th>
          <th><%= @item.client.name %></th>
        </tr>
        
        <tr>
          <th class="text-center">作成者</th>
          <th><%= @item.user.last_name %> <%= @item.user.first_name %></th>
        </tr>
        
        <tr>
          <th class="text-center">訪問日時</th>
          <th><%= @item.start_visit.strftime("%Y/%m/%d %H:%M") %> ~ <%= @item.finish_visit.strftime("%Y/%m/%d %H:%M") %></th>
        </tr>

        <tr>
          <th class="text-center">報告内容</th>
          <th><%= simple_format(@item.body) %></th>
        </tr>
        
      </table>
    </div>
  </div>
  
  <% if @item.user == current_user %>
  <div class="row mb-5">
    <%= link_to "編集", edit_item_path(@item), class:"offset-4 btn btn-outline-success px-5" %>
    <%= link_to '削除', item_path(@item), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "offset-1 btn  btn-outline-danger px-5" %>
  </div>
  <% end %>
  
</div>